header{
    width: 100%;

    button{
        border: 1px solid #3e4547;
        background-color: transparent;
        color: aliceblue;
        width: 70px;
        height: 25px;
        margin-right: 15px;
        margin-top: 10px;
        margin-left: 25px;
    }
    button:hover{
        background-color: #3e4544;
    }
}